*{                    /*Apply to All*/
  margin: 1;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif; 
  background: linear-gradient(to top right, #2e1433, #ad39a8);
  color: white;
}

a {                         /*only links on navbar*/
  text-decoration: none;  /* Removes underline from links */
  color: inherit;     
}
/* Navigation bar container */
.navbar {
  background: rgba(0, 0, 0, 0.6);  
  padding: 1rem 2rem;            /* Top-bottom: 1rem, Left-right: 2rem */
  display: flex;                 /* Flexbox layout to align children */
  justify-content: space-between; /* Puts logo on left and nav links on right */
  align-items: center;          /*Vertically centers the content inside nav*/
  position: sticky;             /*Makes the navbar stick to top when scrolling*/
  top: 0;                       /* Stick to the very top */
  z-index: 999;                 /* Keeps it on top of other content */
}

/* Navigation links container */
.nav-links {
  margin-right: 2rem;             /* to make it little left from corner*/
  list-style: none;               /* Remove bullet points */
  display: flex;
  gap: 2rem;                      /*Space b/w each link*/
}

.nav-links a:hover {
  color: #fd70ea;    
}

/*Sameer text*/
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  /*a little to right*/
  margin-left: 1rem;
}

.self {
  display: flex;
  flex-wrap: wrap;               /* Allows wrapping on smaller screens */
  align-items: center;
  justify-content: space-between;
  padding: 4rem 2rem;
}

.self-text{
  max-width: 500px;
}


/* Typography */
.self-text h1 {
  font-size: 2.9rem;
}
 
.self-text h2 {
  margin: 10px 0;             /* Space above and below h2 */
  font-size: 1.8rem;
  color: rgb(253, 112, 234);
}

.hero-text p {
  margin: 1rem 0;
}



/* Profile image */
.profile-pic {
  width: 300px;
  border-radius: 50%;         
  box-shadow: 0px 0px 10px 4px rgba(253, 112, 234, 0.8);
}


.skills {
  padding: 4rem 2rem;
  text-align: center;
}

.skill-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

/* each skill card */
.card {
  background: rgba(255,255,255,0.1);
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 1.2rem;
  min-width: 150px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
  background: #fd70ea;
  color: #000;
}


/* emogi looks */
.card i {
  display: block;
  font-size: 2rem;
  margin-bottom: 0.5rem;
} 

#projects {
   padding: 4rem 2rem;
  text-align: center;
  /* margin-top: 100px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 6px rgba(253, 112, 234, 0.801);
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff; */
}
#contact_Header {
  width: 200px;
  text-align: center;

  border-radius: 10px;
  box-shadow: 0px 0px 4px 6px rgba(253, 112, 234, 0.801);
}



.projects {
  padding: 4rem 2rem;
  text-align: center;
} 

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.project {
  background: rgba(255,255,255,0.1);
  padding: 1rem;
  border-radius: 10px;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* Contact section */
.contact {
  padding: 4rem 2rem;
  text-align: center;
}


.contactform {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contactform input,
.contactform textarea {
  padding: 1rem;  
  border: none;
  border-radius: 5px;
  resize: none;
}
.contactform button {
  background: #fd70ea;
  padding: 0.8rem;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.socialLinks {
  margin-top: 1rem;
  display: flex;      /*icons in row*/
  justify-content: center;
  gap: 2rem;  /*space b/w icons*/
  font-size: 1.5rem; /*icon size*/
}

/* Footer */
footer {
  background: #111;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
